@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poller+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right bottom, #d16ba5, #be589b, #aa4592, #95328a, #7f1f82, #77258b, #6d2a94, #61309c, #5d48b6, #535fd0, #4375e8, #218bff);
    font-family: "Poppins", serif;
}

.container {
    height: 100dvh;
    padding: 20px;
}